@media (min-width: 992px) and (max-width: 1199px) {
  /* Navbar Section */
  #contact {
    display: none;
  }
  /* Main Section */
  main {
    width: 100%;
  }
  /* Hero Section */
  .hero-cards > .container {
    gap: 30px;
  }
  /* Footer Section */
  footer > .container > .ft-item {
    padding: 20px 10px;
  }
  footer > .container > .ft-item > h2 {
    font-size: 1.1rem;
  }
}
