@media screen and (max-width: 430px) {
  .container {
    width: 90%;
  }
  /* Header*/
  .first-nav {
    width: 100%;
  }
  .sec-navbar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sec-navbar > .left > ul > li {
    padding: 4px 5px;
    margin: 4px 5px;
  }
  .sec-navbar > .left > ul > li > a {
    font-size: 0.9rem;
  }
  .sec-navbar > .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec-navbar > .right > .num {
    padding: 4px 5px 4px 0;
    margin: 4px 10px 4px 0;
  }
  .sec-navbar > .right > .num > span {
    font-size: 0.9rem;
  }
  .sec-navbar > .right > .email {
    padding: 4px 0 4px 5px;
    margin: 4px 0 4px 10px;
  }
  .sec-navbar > .right > .email > span {
    font-size: 0.9rem;
  }

  /* Navbar */
  .primary-nav > .logo {
    margin: 10px 0;
    padding: 10px 0;
  }
  .primary-nav > .logo > img {
    width: 175px;
  }
  .hamberger {
    display: block;
    padding: 24px 10px;
  }
  .nav-links {
    display: none;
  }
  .btn-container {
    display: none;
  }

  /* Main Section */
  /* Hero Section */
  .hero {
    height: 60vh;
    background-image: url("img/slider3.jpg");
  }
  .hero-left {
    width: 100%;
  }
  .hero-left > .left-top {
    margin-top: 10px;
  }
  .hero-left > .left-top > h1 {
    font-size: 1.3rem;
  }
  .hero-blue {
    color: var(--primary-bg-color);
  }
  .hero-black {
    color: #000;
  }
  .hero-span {
    font-size: 1.3rem;
  }
  .hero-left > .left-center > p {
    font-size: 0.8rem;
  }
  .hero-left > .left-bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-left > .left-bottom > .btn {
    margin: 0;
  }
  /* Hero Section Cards */
  .hero-cards > .container {
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
  }
  /* Middle Section */
  .mid-top-container {
    width: 100%;
  }
  .mid-top-container > .mid-title > h1 {
    font-size: 1.5rem;
  }
  .mid-para > p {
    font-size: 0.8rem;
  }
  /* Middle Section Testimonals */
  .middle-container > .container {
    margin: 30px;
  }
  .middle-part {
    height: 100%;
  }
  .middle-container {
    height: 100%;
  }
  .middle-container > .container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .mid-sec > .con3 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mid-sec > .con3 > .left-part-mid {
    width: 90%;
  }
  .mid-sec > .con3 > .left-part-mid > .mid > p {
    margin: 30px 0 45px 0;
    padding: 0;
    font-size: 0.85rem;
  }
  .mid-sec > .con3 > .left-part-mid > .bottom > p {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
  }
  .mid-sec > .con3 > .right-part-mid {
    width: 90%;
    margin-top: 50px;
  }

  footer > .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .cp-r-container {
    text-align: center;
    padding: 30px 25px;
  }
}
