@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Utility CSS */
  .container {
    width: 90%;
  }
  /* Navbar Section */
  .primary-nav > .logo {
    padding: 7px 10px;
    margin: 2px 10px;
  }
  .logo > img {
    width: 87%;
  }
  .nav-links > ul > li {
    padding: 8px 5px;
    margin: 8px 3.5px;
  }
  .nav-links > ul > li > a {
    font-weight: 400;
  }
  .primary-nav > .btn-container {
    display: none;
  }
  /* Main Section */
  main {
    width: 100%;
  }
  /* Hero Section */
  .hero-left {
    width: 100%;
  }
  .card {
    width: 310px;
  }
  #card3 {
    flex-grow: 2;
  }
  /* Hero-Cards Section */
  .hero-cards > .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: 200px;
    gap: 30px;
  }
  /* Middle Section */
  .mid-sec {
    border-top: 1px solid var(--gray-color);
  }
  /* Quote-1 */
  .mid-sec > .container {
    margin-top: 12vh;
  }
  .mid-top-container {
    width: 100%;
  }
  /* Testimonals-1 */
  .middle-container {
    height: 60vh;
  }
  .middle-container > .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /* Quote-2 */
  #con2 {
    margin-top: 23vh;
  }
  /* Testimonals-2 */
  .mid-sec > .con3 {
    flex-wrap: wrap;
    gap: 40px;
  }
  .mid-sec > .con3 > .left-part-mid {
    width: 100%;
  }
  .mid-sec > .con3 > .right-part-mid {
    width: 100%;
  }
  /* Footer Section */
  footer > .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
